.blur{
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
}


.welcome {
	background: url(../images/mainPage/sectionWelcome.jpg) 0px 10vh no-repeat;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.shares {
	background: url(../images/mainPage/sectionActions.jpg) top center no-repeat;
}
.backgroundCover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/****/
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.containerFluid {
	width: 100%;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.targetFlexVerticalCenter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
/****/
.header, .footer {
	background-color: #fff;
	height: 10vh;
	flex: 0 0 auto;
}
.logo {

}
.phone {
	font-family: LatoWebBold;
	font-size: 18px;
	color: #b08fbd;
}
ul.mainMenu {
	width: 430px;
}
ul.mainMenu > li {
	
}
ul.mainMenu > li > a {
	font-family: LatoWeb;
	font-size: 18px;
	color: #464c55;
	text-decoration: none;
}
/*****/
.welcomePresentation{
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.welcomeH1 {
	font-family: LatoWebBold;
	font-size: 3.9em;
	color: #fff;
	text-shadow: 0 0 1px #494849,0 0 90px rgba(176, 203, 31, 0.61 );
	text-transform: uppercase;
	letter-spacing: 20px;
	text-align: center;
	/*padding-top: 8.3vh;*/
}
.welcomeH2 {
	font-family: LatoWebLight;
	font-size: 2em;
	color: #fff;
	text-align: center;
}
.welcomeH2 span {
	text-transform: uppercase;
}
.welcomeSlider {
	width: 1030px;
	margin: 0 auto;
	margin-top: 8.9vh;
}

section > div.welcomeSlider.slick-initialized.slick-slider > div > div > a > img {
	width: 246px;
	height: 236px;
}

.toShares {
	text-align: center;
	padding-top: 10.4vh;
}
.toShares > a {
	font-family: LatoWeb;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.toShares > a:after {
	content: '';
	background: url(../images/mainPage/arrowDown.png) no-repeat center center;
	width: 17px;
	height: 10px;
	position: absolute;
	left: 40px;
	top: 17px;
} 
/******/
.sharesSlider {
	flex: 1 0 auto;
	display: flex !important;
	align-items: center;	
}
.sharesSliderBlock {
    height: 612px !important;
	width: 1114px;
}
.share1 {
	background: url(../images/mainPage/verticalSlider.png) no-repeat top center;
}
.shareH1{
	font-family: LatoWebBold;
	font-size: 3.7em;
	color: #87539b;
	text-transform: uppercase;
	text-align: left;
	padding-top: 300px;
	padding-left: 60px;
}
.shareH2{
	font-family: LatoWeb;
	font-size: 2.2em;
	color: #535353;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.2em;
	padding-left: 60px;
}
/******/
.social {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.servises {
	background-color: #fcf4ef;
}

.servisesInfo {
	background: url(../images/servisesPage/serviseInfo.jpg) top center no-repeat;	
}




.serviseNodes {
	padding-top: 2%;
}

.serviseNode {
	width: 300px;
	height: 27vh;
	position: relative;
	opacity: 0.5;
	cursor: pointer;
	transition: 0ms;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nodeTextInfo {
	font-family:LatoWeb;
	font-size: 1.6em; 
	color: #fefefe;
	padding-top: 2vh;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: block;
	padding: 0 10px;
}

.nodeTextInfoButtonWrapper {
	display: block;
	position: relative;
}

.nodeTextInfoButton {
	font-family:LatoWeb;
	font-size: 1.1em; 
	color: #fefefe;
	padding: 14px 20px;
	border-radius: 5px;
	background-color: #b0cb1f;
	text-decoration: none;
}

.nodeTextInfo:first-letter {
	color: #b0cb1f;	
}

.serviseNode:hover {
	box-shadow:0 0 0 128px rgba(20, 20, 20, 0.8) inset;
	background-color: #141414;
	opacity: 1;
	transition: 0ms;
}

.portfolioGridStrizhkaZhen {
	background: url(../images/servisesPage/portfolioGridStrizhkaZhen.jpg) top center no-repeat;
}

.portfolioGridStrizhkaMuzh {
	background: url(../images/servisesPage/portfolioGridStrizhkaMuzh.jpg) top center no-repeat;
}

.portfolioGridNarash {
	background: url(../images/servisesPage/portfolioGridNarash.jpg) top center no-repeat;
}

.portfolioGridLechenie {
	background: url(../images/servisesPage/portfolioGridLechenie.jpg) top center no-repeat;
}

.portfolioGridNode5 {
	background: url(../images/servisesPage/portfolioGridNode5.jpg) top center no-repeat;
}

.portfolioGridNode6 {
	background: url(../images/servisesPage/portfolioGridNode6.jpg) top center no-repeat;
}

.portfolioGridTeni {
	background: url(../images/servisesPage/portfolioGridTeni.jpg) top center no-repeat;
}

.portfolioGridMakijazh {
	background: url(../images/servisesPage/portfolioGridMakijazh.jpg) top center no-repeat;
}

.portfolioGridNode9 {
	background: url(../images/servisesPage/portfolioGridNode9.jpg) top center no-repeat;
}

.portfolioGridMassazh {
	background: url(../images/servisesPage/portfolioGridMassazh.jpg) top center no-repeat;
}

.portfolioGridSolarij{
	background: url(../images/servisesPage/portfolioGridSolarij.jpg) top center no-repeat;
}

.portfolioGridSredstva{
	background: url(../images/servisesPage/portfolioGridSredstva.jpg) top center no-repeat;
}

.servisesInfoWrap {
	display: flex;
	flex: 1 0 auto;
    align-items: center;
	justify-content: space-between;
}

.servisesInfoLogo {
}

.servicesDescription {
	width: 61%;
}

.serviseHeader {
	font-family: LatoWebBold;
	font-size: 3.7em;
	color: #535353;
	text-transform: uppercase;
	text-align: left;
	padding-top: 6%;
}

.serviseHeader:first-letter {
	color: #afcb1d;
}

.serviseSubHeader {
	font-family: LatoWebLight;
	font-size: 2.2em;
	color: #535353;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.1em;	
	padding-top: 0.5%;	
}

.serviseDescription {
	font-family:LatoWebLight;
	font-size: 1.6em; 
	color: #535353;
	padding-top: 4.5%;
	font-weight: bold;
}

.serviseDescription a{
	color: #535353;
	text-decoration: none;
}

.serviseDescription a:hover{
	color: #834e98;
}

.serviseDescription a:nth-of-type(2) {
	padding-left: 4%; 
}

    

.servicesPrices {
	width: 39%;
	text-align: right;
}

.servicesPrices p {
	font-family: LatoWebBold;
	font-size: 2.2em;
	color: #9f74a5;
}

.servicesPrices p span {
	color: #b0cb1f;
}

.toServises {
	text-align: center;
    padding-top: 5.4vh;
	position: relative;
	margin: 0 auto;
}

.toServises > a {
	display: block;
	width: 100px;
}

.toServises > a:after {
	content: '';
	background: url(../images/servisesPage/toServises.png) no-repeat center center;
	width: 17px;
	height: 10px;
	position: absolute;
	left: 40px;
	top: 17px;
} 



.aboutUs {
	/*background: url(../images/aboutPage/aboutWe.jpg) top center no-repeat;	*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daade7+0,f2aff6+100 */
background: #daade7; /* Old browsers */
background: -moz-linear-gradient(top,  #daade7 0%, #f2aff6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #daade7 0%,#f2aff6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #daade7 0%,#f2aff6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daade7', endColorstr='#f2aff6',GradientType=0 ); /* IE6-9 */

}

.clientReviews {
	/*background: url(../images/aboutPage/aboutReviews.jpg) top center no-repeat;	*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2aff6+0,daade7+100 */
background: #f2aff6; /* Old browsers */
background: -moz-linear-gradient(top,  #f2aff6 0%, #daade7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f2aff6 0%,#daade7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f2aff6 0%,#daade7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2aff6', endColorstr='#daade7',GradientType=0 ); /* IE6-9 */

}

.reviewsWrapper {
    flex: 1 0 auto;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.toReviews {
	padding-top: 4.4vh;
}


 
.toReviews > a, .toAboutUs > a {
	display: block;
    margin: 0 auto;
    width: 100px;  
}
      
.toReviews > a:after {
	content: '';
	background: url(../images/mainPage/arrowDown.png) no-repeat center center;
	width: 17px;
	height: 10px;
	position: absolute;
	top: 17px;
} 

.toAboutUs > a:after {
	/*left: 0px !important;*/
}

.h1Uslugi {
	font-family: 'LatoWebBold';
	font-size: 2.6em;
	color: #fff;
	text-align: center;
	margin-top: 2.8vh;
}

.h2Uslugi {
    font-family: 'LatoWeb';
    font-size: 1.4em;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
    max-width: 770px;
    margin: 2.8vh auto 0 auto;
}

.employerSlider {
	margin-top: 6vh;
}

.employerBlock {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.employerPhoto {
	border-radius: 50%;
}

.employerTitle {
	font-family: 'LatoWebBold';
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	margin-top: 3.8vh;  
}

.employerDesc {
	font-family: 'LatoWeb';
	font-size: 1em;
	line-height: 1.5em;
	color: #fff;
	text-align: center;
	margin-top: 2vh;  
}

.employerSocials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	margin-top: 3.8vh;
}

.employerSocials > .social {
    border-radius: 50%;
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.employerSocials > .social:hover {
	background: #834e98;
}

div.employerSlider.slick-initialized.slick-slider > div > div > div {
	display: flex !important;
}

.employerSlider > .slick-prev {
    left: -15px;
        top: 35%;
    z-index: 2000;    
}

.employerSlider > .slick-next {
    right: -15px;
        top: 35%;
    z-index: 2000;  
}

.employerSlider > .slick-next:before {
    content: url(../images/aboutPage/employer_right.png);
}

.employerSlider > .slick-prev:before {
    content: url(../images/aboutPage/employer_left.png);
}

.employerSlider.slick-initialized.slick-slider > div > div > div > div.employerSocials > a > img {
	margin: 0px;
}

.ourAdvantages {
	display: flex;
	justify-content: space-around;
    align-items: baseline;
	margin-top: 10vh;
}

.ourAdvantagesBlock {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}



.ourAdvantagesh1 {
	position: relative;
	color: #834e98;
	font-family: 'LatoWebBold';
	font-size: 1.2em;
}
.ourAdvantagesh1:before {
    content: '';
    background: url(../images/aboutPage/aboutReviewsOption.png) no-repeat center center;
    width: 35px;
    height: 35px;
    position: absolute;
    left: -60px;
    top: -10px;
}

.ourAdvantagesDesc {
	font-family: 'LatoWeb';
	font-size: 1.1em;
	line-height: 1.5em;
	color: #fff;
}

.H1clientReviews {
	margin-top: 8%;
	font-family: 'LatoWebBold';
	color: #834e98;
	font-size: 2.8em;
	text-align: center;
}

.clientReviewsBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.2vh;
}

.clientReviewsDesc{
	font-family: 'LatoWeb';
	font-size: 1.1em;
	line-height: 1.6em;
	color: #fff;
	text-align: center;
}	

.clientReviewsName {
	font-family: 'LatoWebBold';
	font-size: 1.1em;
	line-height: 1.4em;
	color: #fff;
	text-align: center;
	margin-top: 2.6vh;
}

.clientReviewsLink {
	font-family: 'LatoWeb';
	font-size: 1em;
	line-height: 1.4em;
	color: #b0cb1f;
	text-align: center;
	display: block;
}


.clientReviewsSlider > .slick-prev {	
    top: 40%;
    z-index: 2000;    
}

.clientReviewsSlider > .slick-next { 
    top: 40%;
    z-index: 2000;  
}

.clientReviewsSlider > .slick-next:before {
    content: url(../images/aboutPage/aboutReviewsRight.png);
}

.clientReviewsSlider > .slick-prev:before {
    content: url(../images/aboutPage/aboutReviewsLeft.png);
}


.contactsInfo {
	background: url(../images/contactsPage/adress.jpg) center no-repeat
		
}

.contactsMap {
	background: #fff;	
}

.toMap {
	
}

.toMap > a {
	color: #535353;
	width: 300px;
}

.toMap > a:after {
	content: '';
	background: url(../images/contactsPage/toMap.png) no-repeat center center;
	width: 17px;
	height: 10px;
	position: absolute;
    top: 45px;
	    left: 140px;
} 

.toContacts {
    text-align: center;
    margin-top: 1%;
    position: relative;
    z-index: 3000;
}

.toContacts > a {
	position: relative;
	    width: 403px;
}

.toContacts > a:after {
	content: '';
    background: url(../images/contactsPage/toContacts.png) no-repeat center center;
    width: 333px;
    height: 93px;
    position: absolute;
    left: 40px;
    top: 17px; 
}

.ContactsTitle {
	font-family: 'LatoWebBold';
	font-size: 3.6em;
	color: #834e98;
	text-transform: uppercase;
}

.ContactsTitle > span {
	color: #b1cc23;
	text-align: center;
}

.ContactsAdress {
	font-family: 'LatoWebBold';
	font-size: 2.8em;
	line-height: 1.3em;
    color: #834e98;
    margin-top: 5.5%;
	text-align: center;
}

.ContactsPhone {
	font-family: 'LatoWebBold';
	font-size: 2.8em;
	color: #535353;
	margin-top: 4%;
	text-align: center;
	margin-bottom: 9%;
}

.contactsSection {
    align-items: center;	
}

.ymaps-2-1-45-map-bg-ru {
	filter: saturate(0); 
}



@media (min-width: 768px) {
	.ourAdvantagesBlock {
	    width: 20.333333%;
	}

	.clientReviewsSlider  {
		width: 570px;
		margin: 0 auto;
	}

	.clientReviewsSlider > .slick-prev {
		left: -100px;
	}	

	.clientReviewsSlider > .slick-next {
		right: -100px;
	}	
}

@media (min-height: 900px) {
	.ourAdvantages {
	    margin-top: 10vh;
	}

	.H1clientReviews {
		margin-top: 11%;
	}

	.toReviews {
	padding-top: 10vh;
	}

	.h1Uslugi {
		margin-top: 3.8vh;
	}

	.h2Uslugi {
		margin: 3.8vh auto 0 auto;
	}

	.employerSlider {
	margin-top: 8vh;
	}
	.serviseNode {
		width: 300px;
		height: 219px;
		position: relative;
		text-align: center;
	}

	.serviseNodes {
		padding-top: 3vh;
	}
}


.tooltip {
    position: absolute;
    font-family: 'LatoWeb';
	font-size: 1em;
	line-height: 1.6em;
    z-index: 1000;
    border: 1px solid gray;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
   
}

.employerMoreInfo {
	cursor: pointer;
}

.servicesDescription {
	display: none;
}

.servicesPrices {
	display: none;
    background: none;
}

.displayServiceDescription {
	display: block;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/load.gif) center no-repeat #fff;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0px;
  }

  .welcomeH1 {
	
  }

  .welcomeH1 {
    font-family: LatoWebBold;
    font-size: 1.9em;
    color: #fff;
    text-shadow: 0 0 1px #494849, 0 0 90px rgba(176, 203, 31, 0.61 );
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    /* padding-top: 8.3vh; */
  }

  .welcomeH2 {
    font-family: LatoWebLight;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding-top: 4vh;
  }

  .welcomeSlider  {
  	display: none !important;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mainMenu {
    display: none;
    margin-top: 100px;
    position: absolute;
        width: 100vw !important;
    padding: 10px 20px;
    background: #fff;
        z-index: 40000;
}

ul.mainMenu > li {
    padding: 0px 20px;
}

ul.mainMenu > li > a {
    font-family: LatoWeb;
    font-size: 1.5em;
    color: #464c55;
    line-height: 1.4em;
    text-decoration: none;
}
	.phone {
    font-family: LatoWebBold;
    font-size: 0.7em;
    color: #b08fbd;
}

.logo {
    width: 50%;
}

.share1 {
	background: none;
}

.shareH1 {
    font-family: LatoWebBold;
    font-size: 1.7em;
    color: #87539b;
    text-transform: uppercase;
    text-align: left;
    padding-top: 19vh;
    padding-left: 0;
}
.shareH2 {
    font-family: LatoWeb;
    font-size: 1.2em;
    color: #535353;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2em;
    padding-left: 0;
}

.targetFlexVerticalCenter {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.servicesDescription {
    width: 100% !important;
}

.serviseHeader {
    font-family: LatoWebBold;
    font-size: 1.7em;
    color: #535353;
    text-transform: uppercase;
    text-align: left;
    padding-top: 6%;
}

.serviseSubHeader {
    font-family: LatoWebLight;
    font-size: 1.2em;
    color: #535353;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.1em;
    padding-top: 0.5%;
}

.serviseDescription {
    font-family: LatoWebLight;
    font-size: 1em;
    color: #535353;
    padding-top: 4.5%;
    font-weight: bold;
}

.serviseDescription {
    font-family: LatoWebLight;
    font-size: 0.9em;
    color: #535353;
    padding-top: 4.5%;
    font-weight: bold;
}

.servicesPrices {
    width: 100% !important;
    text-align: center;
    padding-top: 6%;
}

.servicesPrices p {
    font-family: LatoWebBold;
    font-size: 1.2em;
    color: #9f74a5;
}

.servisesInfoWrap {
    display: block;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nodeTextInfoButton {
    font-family: LatoWeb;
    font-size: 1.1em;
    color: #fefefe;
    padding: 0px;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
}
.h1Uslugi {
    font-family: 'LatoWebBold';
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    margin-top: 2.8vh;
}
.h2Uslugi {
    font-family: 'LatoWeb';
    font-size: 0.9em;
    color: #fff;
    line-height: 0.8em;
    text-align: center;
    max-width: 770px;
    margin: 2.8vh auto 0 auto;
}
.slick-slide img {
    display: block;
    margin-left: 10px;
    width: 70%;
}

.employerTitle {
    font-family: 'LatoWebBold';
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin-top: 1.8vh;
}

.employerDesc {
    font-family: 'LatoWeb';
    font-size: 0.8em;
    line-height: 0.9em;
    color: #fff;
    text-align: center;
    margin-top: 1vh;
}

.employerSocials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-top: 1.8vh;
}
.employerSocials > .social {
    border-radius: 50%;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourAdvantages {
    display: block;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 2vh;
}
.ourAdvantagesh1 {
    position: relative;
    color: #834e98;
    font-family: 'LatoWebBold';
    font-size: 1em;
}
.ourAdvantagesDesc {
    font-family: 'LatoWeb';
    font-size: 0.8em;
    line-height: 1.5em;
    color: #fff;
}

.H1clientReviews {
    margin-top: 6%;
    font-family: 'LatoWebBold';
    color: #b0cb1f;
    font-size: 1.5em;
    text-align: center;
}

.clientReviewsDesc {
    font-family: 'LatoWeb';
    font-size: 0.8em;
    line-height: 1em;
    color: #fff;
    text-align: center;
}

.clientReviewsName {
    font-family: 'LatoWebBold';
    font-size: 0.9em;
    line-height: 1em;
    color: #fff;
    text-align: center;
    margin-top: 1.6vh;
}

.fb > img {
	width: 6px;
}

.ContactsTitle {
    font-family: 'LatoWebBold';
    font-size: 1.6em;
    color: #834e98;
    text-transform: uppercase;
}

.ContactsAdress {
    font-family: 'LatoWebBold';
    font-size: 1.8em;
    line-height: 1.3em;
    color: #834e98;
    margin-top: 5.5%;
    text-align: center;
}

.ContactsPhone {
    font-family: 'LatoWebBold';
    font-size: 1.8em;
    color: #535353;
    margin-top: 4%;
    text-align: center;
    margin-bottom: 9%;
}

.toContacts > a:after {
    content: '';
    background: none;
    position: absolute;
    left: 40px;
    top: 17px;
}

.sharesSliderBlock {
    height: 320px !important;
}

}